{erl_opts, [debug_info]}.
{deps, [
    {redis, {git, "https://github.com/niamtokik/redis", {ref, "2d2790f"}}}
]}.

{shell, [
    {config, "config/dev.config"},
    {apps, [mnesia, andy]}
]}.

{relx, [
    {release, {app, "0.1.0"}, [andy]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true}
]}.
