[
    {kernel, [
        {logger_level, debug}
    ]},
    {andy, [
        {db_file, <<"data.db">>}
    ]},
    {opentelemetry, [
        {resource, #{
            service => #{
                name => "andy",
                version => "0.1.0"
            }
        }},
        {processors, [
            {otel_batch_processor, #{
                exporter => {opentelemetry_exporter, #{
                    endpoints => [
                        {http, "localhost", 55681, []}
                    ]
                }}
            }}
        ]}
    ]}
].
