[
    {kernel, [
        {logger_level, debug}
    ]},
    {andy, [
        {db_file, <<"data.db">>}
    ]},

    {telemetry_poller, [
        {default, [
            {name, andy_telemetry_poller},
            {measurements, [
                memory,
                system_counts,
                total_run_queue_lengths,
                {process_info, [
                    {name, andy_connection},
                    {event, [andy_connection, worker]},
                    {keys, [memory, message_queue_len]}
                ]},
                {andy_connection, sessions_count, []}
            ]}
        ]}
    ]},

    {opentelemetry, [
        {processors, [
            {otel_batch_processor, #{
                exporter => {opentelemetry_zipkin, #{
                    address => "http://localhost:9411/api/v2/spans",
                    local_endpoint => #{service_name => <<"Andy">>}
                }}
            }}
        ]}
    ]}
].
